/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important
/*
.navbar
  background-color: grey!important
.links
  background-color: grey!important
*/

.blue
  padding .1rem 1.5rem
  border-left-width .5rem
  border-left-style solid
  margin 1rem 0
  background-color var(--tipBgColor);
  border-color #336699
  .title
    font-weight 600
    margin-bottom -0.4rem
