// Theme's Styles
@import("C:/Users/Dennis/Documents/GitHub/doc/node_modules/@vuepress/theme-default/styles/index.styl")

// User's Styles
@import("C:/Users/Dennis/Documents/GitHub/doc/src/.vuepress/styles/index.styl")